<% post.comments.each do |comment| %>

  <div class="comment comment-actions">

    <span class="comment-author"><%= comment.user.username %></span>
    <%= comment.body %>

    <%= turbo_frame_tag "comment-likes" do %>
      <%= button_to "", post_comment_likes_path(comment.id, comment.post_id), class: "comment-actions-like" %>
    <% end %>

  </div>
<% end %>